{% extends 'ArtseldOpeninviterBundle::layout.html.twig' %}

{% block content %}
    {% set seswithtoken = app.session.get('seswithtoken')  %}
    {% set sessource = app.session.get('sessource') %}
    <table cellspacing="10" cellpadding="10" style="border:0px solid blue; width:600px;">
    <tr> 
         <td>
            <div>{# {{ 'artseld_openinviter.text.all_done'|trans }} #} {{ 'All Done'|trans }}</div>
            <div class="divider" style="border-top: 0px; margin:10px;"></div>
            <div><a href="{{ path('artseld_openinviter_login', {'withtoken': seswithtoken}) }}?soucce={{sessource}}" class="button highlight small" style="width:200px; text-align:center;">
            {# {{ 'artseld_openinviter.link.send_to_another'|trans }} #}  {{ 'Back to Inviter Home Page'|trans }}</a></div>
            </td>
    </tr>
    </table>
{% endblock %}