{% extends 'ArtseldOpeninviterBundle::layout.html.twig' %}

{% block content %}
    <div>{# {{ 'artseld_openinviter.text.all_done'|trans }} #} {{ 'All Done'|trans }}</div>
    <div><a href="{{ path('artseld_openinviter_login') }}">{# {{ 'artseld_openinviter.link.send_to_another'|trans }} #}  {{ 'Send to another'|trans }}</a></div>
{% endblock %}
